<!DOCTYPE html>
<html ng-app="astral">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" href="/css/app.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <base href="/">
</head>

<ng-view>Loading...</ng-view>

<script type="text/javascript" src="/js/components.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    angular.module('astral').constant('CSRF_TOKEN', 'JbrY8ghqdda0TDMOoZGohr5WWrSaXfYLvXXV9BYI');
</script>
</body>
</html>