<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="/">
</head>
<body>
<div class="login-status">
    <div class="login-status-text ng-hide" ng-show="loggingIn">
        Signing In
    </div>
    <div class="pulser ng-hide" ng-show="loggingIn"></div>
    <div class="login-container" ng-hide="loggingIn">
        <img src="/images/logo.svg" alt="Astral">
        <button class="btn-auth" ng-click="requestToken()">Sign In</button>
    </div>
</div>

</body>
</html>